:root {
    --text: #434455;
    --primary_brand: #4D5AE5;
    --dark: #2E2F42;
    --pressed_state: #404BBF;
    --subtle_text: #8E8F99;
    --success: #31D0AA;
    --accent: #E7E9FC;
    --light: #F4F4Fd;
    --modal_overlay: #2E2F42;
    --hero_background: rgb(46, 47, 66, 0.7);
    --white_background: #FFFFFF;

}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: var(--text);
    font-weight: 400;

}

li,
a {
    list-style: none;
    text-decoration: none;
}

/*----------HEADER-FOOTER--------*/
.header {}

.header-navigat {}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark);
}

.logo span {
    color: var(--primary_brand);
}

.header-item a {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);

}

.header-item a:is(:hover, :focus) {
    color: var(--pressed_state);
}

.header-address {}

.header-list {}

.header-contacts a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}

.header-contacts a:is(:hover, :focus) {
    color: var(--pressed_state);
}

.footer {
    background-color: var(--dark);

}

.footer-logo {
    line-height: 1.17;
    color: var(--light);
}

.footer-text {

    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;

    color: var(--accent);
}

/*----------MAIN---------*/
.face {
    background-color: var(--dark);
}

.face-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white_background);
}

.face-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    background-color: var(--primary_brand);
    color: var(--white_background);


}

.face-btn:is(:hover, :focus) {
    background-color: var(--pressed_state);
}

.targets-list {}

.targets-item {}

.targets-main {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--dark);
}

.targets-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--text);
}

.activity {}

.activiti-main {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--dark);
}

.activity-list {}

.team {}

.team-main {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--dark);
}

.team-list {}

.team-item {}

.team-person {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    text-align: center;
    letter-spacing: 0.02em;

    color: var(--dark);

}

.team-job {

    font-size: 16px;
    line-height: 1.5;

    text-align: center;
    letter-spacing: 0.02em;


    color: var(--text);

}

/*----------PORTFOLIO---------*/
.filters {}

.filters-btn button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;

    /* IRIS */

    color: var(--primary_brand);
}

.filters-btn button:is(:hover, :focus) {
    color: var(--white_background);
    background-color: var(--pressed_state);
}

.exempl {}

.exempl-item {}

.exempl-job {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    letter-spacing: 0.02em;

    /* NAVY BLUE */

    color: var(--dark);

}

.exempl-filter {

    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;

    /* SLATE */

    color: var(--text);
}